*{
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @include respond-above(md) {
        max-width: 720px;
    }
    @include respond-above(lg) {
        max-width: 960px;
    }
    @include respond-above(xl) {
        max-width: 1140px;
    }
    @include respond-above(xxl) {
        max-width: 1200px;
    }
}
